CLIENT_SLUG=cliente-demo
CLIENT_DOMAIN=cliente-demo.local
DB_USER=cliente_demo_user
DB_PASSWORD=changeme
DB_NAME=cliente_demo_db
DATABASE_URL=
NEXTAUTH_SECRET=GyarVu/H8o6zfAexgWybhY2RfuFB/1vp2O36iu5mhls=
NEXTAUTH_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...